<mat-card class="startEndDateCard">
  <mat-card-title>Start & End Date</mat-card-title>

  <section>
    <label [for]="startDate">Start From:</label>
    <input matInput [matDatepicker]="startDate" placeholder="Choose a date" [(ngModel)]="selectedStartsFromDate">
    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
    <mat-datepicker #startDate></mat-datepicker>
  </section>

  <section>
    <mat-radio-group [(ngModel)]="selectedEndDateOption">

      <mat-radio-button value="endsBy">
        <label [for]="endDate">End By:</label>
        <input matInput [matDatepicker]="endDate" placeholder="Choose a date" [(ngModel)]="selectedEndsByDate">
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-radio-button>

      <mat-radio-button value="endsAfter">
        <label [for]="endAfter">End After:</label>
        <input [(ngModel)]="selectedEndsAfterOccurence" name="endAfter" type="number">
        <span>Occurences</span>
      </mat-radio-button>
    </mat-radio-group>
  </section>


</mat-card>

<mat-card class="weeklyOffCard">
  <mat-card-title>Weekly Off</mat-card-title>
  <mat-card-content class="weeklyOffCardContent">
    <section>
      <mat-checkbox *ngFor="let day of weeklyOffDays" [(ngModel)]="day.selected">{{ day.name }}</mat-checkbox>
    </section>
  </mat-card-content>
</mat-card>

<mat-card class="frequencyCard">
  <mat-card-title>Frequency</mat-card-title>
  <mat-card-content>
    <section class="dailyFrequency">
      <div (click)="clickedDailyFrequency()">
        <h3>Daily
          <span>
            <mat-icon *ngIf="dueDateFrequency.daily">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="!dueDateFrequency.daily">keyboard_arrow_right</mat-icon>
          </span>
        </h3>
      </div>
      <button mat-raised-button color="primary" *ngIf="dueDateFrequency.daily"
        (click)="generateDailyDueDates()">Generate</button>
    </section>

    <section class="weeklyFrequency">
      <div (click)="clickedWeeklyFrequency()">
        <h3>Weekly
          <span>
            <mat-icon *ngIf="dueDateFrequency.weekly">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="!dueDateFrequency.weekly">keyboard_arrow_right</mat-icon>
          </span>
        </h3>
      </div>
      <div *ngIf="dueDateFrequency.weekly">
        <mat-checkbox *ngFor="let day of weeklyFrequencyDays" [(ngModel)]="day.selected">{{ day.name }}</mat-checkbox>
        <br>
        <button mat-raised-button color="primary" (click)="generateWeeklyDueDates()">Generate</button>
      </div>
    </section>

    <section class="monthlyFrequency">
      <div (click)="clickedMonthlyFrequency()">
        <h3>Monthly
          <span>
            <mat-icon *ngIf="dueDateFrequency.monthly">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="!dueDateFrequency.monthly">keyboard_arrow_right</mat-icon>
          </span>
        </h3>
      </div>
      <div *ngIf="dueDateFrequency.monthly">
        <mat-checkbox *ngFor="let month of monthlyFrequencyMonths" [(ngModel)]="month.selected">{{ month.name }}
        </mat-checkbox>
        <br>
        <button mat-raised-button color="primary" (click)="generateMonthlyDueDates()">Generate</button>
      </div>
    </section>

    <section class="randomFrequency">
      <div (click)="clickedRandomFrequency()">
        <h3>Random
          <span>
            <mat-icon *ngIf="dueDateFrequency.random">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="!dueDateFrequency.random">keyboard_arrow_right</mat-icon>
          </span>
        </h3>
      </div>
      <div *ngIf="dueDateFrequency.random">
        <mat-radio-group [(ngModel)]="selectedRandomFrequency">
          <mat-radio-button value="weekly">Weekly</mat-radio-button>
          <mat-radio-button value="monthly">Monthly</mat-radio-button>
        </mat-radio-group>
        <br>
        <button mat-raised-button color="primary" (click)="generateRandomDueDates()">Generate</button>
      </div>
    </section>


  </mat-card-content>
</mat-card>

<mat-card class="resultCard" *ngIf="resultantDueDates">
  <mat-card-title>Result</mat-card-title>
  <ul>
    <li *ngFor="let dueDate of resultantDueDates">
      {{ dueDate }}
    </li>
  </ul>

</mat-card>
